<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/styleBundle">
    <include path="~/assets/vendors/base/vendors.bundle.css" />
    <include path="~/assets/mat/base/style.bundle.css" />
    <include path="~/assets/mat/base/style.custom.css" />
    <include path="~/assets/mat/base/bootstrap-editable.css" />
  </styleBundle>
  <styleBundle path="~/Content/css">
    <include path="~/Content/select2.css" />
    <include path="~/Content/bootstrap.css" />
    <!--<include path="~/Content/bootstrap-theme.css" />-->
    <include path="~/Content/font-awesome.css" />
    <include path="~/Content/jquery-ui.css" />
    <include path="~/Content/jquery-ui.custom.css" />
    <include path="~/Content/jquery.gritter.css" />
    <include path="~/Content/chosen.css" />
    <include path="~/Content/datepicker.css" />
    <include path="~/Content/bootstrap-timepicker.css" />
    <include path="~/Content/bootstrap-duallistbox.css" />
    <include path="~/Content/daterangepicker.css" />
    <include path="~/Content/bootstrap-datetimepicker.css" />
    <include path="~/Content/bootstrap-editable.css" />

    <include path="~/Content/ace-fonts.css" />
    <include path="~/Content/ace.css" />
    <include path="~/Content/ace-skins.css" />
    <include path="~/Content/ace-rtl.css" />
    <!--<include path="~/Content/ace.onpage-help.css" />-->
    <!--<include path="~/Content/Site.css" />-->
    <include path="~/Content/colorpicker.css" />
    <include path="~/Content/mat.css" />
  </styleBundle>
  <styleBundle path="~/reportStyle">
    <include path="~/assets/mat/base/emars2.css" />
  </styleBundle>
</bundles>